@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

html {
    padding: 0;
    margin: 0;
    font-family: "Heebo";
    font-weight: 500;
    font-size: 16px;
}
@media (max-width: 900px) {
    html {
        font-size: 15px;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 14px;
    }
}
body {
    color: #504e4e;
}

body.dark {
    color: #ddd;
    @apply bg-slate-800;
}

h1,
h1 > * {
    @apply text-4xl
    font-extrabold;
}

h2,
h2 > * {
    @apply text-3xl
    font-extrabold;
}

h3,
h3 > * {
    @apply text-2xl
    font-extrabold;
}

h4,
h4 > * {
    @apply text-xl font-bold;
}

h5,
h5 > * {
    @apply text-lg font-bold;
}

ol {
    list-style: decimal;
    margin-left: 1.35rem;
}
ul {
    list-style: disc;
    margin-left: 1.35rem;
}

li {
    @apply my-1.5;
    display: list-item;
}

table {
    display: table;
    width: 100%;
    border: 1px solid gainsboro;
}
th,
td {
    padding: 0.3rem 0;
    text-align: center;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

th:first-child,
td:first-child {
    border-left: none;
}
